[[!meta title="Verify the ISO image using the command line"]]

[[!inline pages="doc/get/signing_key_transition.inline" raw="yes"]]

<p>You need to have GnuPG installed. GnuPG is the common OpenPGP
implementation for Linux: it is installed by default under Debian,
Ubuntu, Tails and many other distributions.</p>

<h3>Get the Tails signing key</h3>

<p>First, <strong>download Tails signing key</strong>:</p>

[[!inline pages="lib/download_tails_signing_key" raw="yes"]]

<p>Open a terminal and <strong>import Tails signing key</strong> with the following
commands:</p>

<pre>
cd [the directory in which you downloaded the key]
gpg --keyid-format long --import tails-signing.key
</pre>

<p>The output should tell you that the key was imported:</p>

<pre>
gpg: key DBB802B258ACD84F: public key "Tails developers (offline long-term identity key) &lt;tails@boum.org&gt;" imported
gpg: Total number processed: 1
gpg:               imported: 1  (RSA: 1)
</pre>

<p><strong>If you had already imported Tails signing key in the
past</strong>, the output
should tell you that the key was not changed:</p>

<pre>
gpg: key DBB802B258ACD84F: "Tails developers (offline long-term identity key) &lt;tails@boum.org&gt;" not changed
gpg: Total number processed: 1
gpg:              unchanged: 1
</pre>

<p><strong>If you are shown the following message</strong> at the end of
the output:</p>

<pre>
gpg: no ultimately trusted keys found
</pre>

<p>Analyse the other messages as usual: this extra message doesn't
relate to the Tails signing key that you downloaded and usually means
that you didn't create an OpenPGP key for yourself yet, which of no
importance to verify the ISO image.</p>

<h3>Verify the ISO image</h3>

<p>Now, <strong>download the cryptographic signature</strong> corresponding to the ISO
image you want to verify and save it in the same folder as the ISO
image:</p>

[[!inline pages="lib/download_stable_i386_iso_sig" raw="yes"]]

<p>Then, <strong>start the cryptographic verification</strong>, it can take several
minutes:</p>

<p class="pre">
cd [the ISO image directory]<br />
[[!inline pages="inc/stable_i386_gpg_verify" raw="yes"]]
</p>

<p><strong>If the ISO image is correct</strong> the output will tell you
that the signature is good:</p>

<pre>
pg: Signature made Sun 08 Feb 2015 08:17:03 PM UTC
gpg:                using RSA key 98FEC6BC752A3DB6
gpg: Good signature from "Tails developers (offline long-term identity key) &lt;tails@boum.org&gt;" [unknown]
Primary key fingerprint: A490 D0F4 D311 A415 3E2B  B7CA DBB8 02B2 58AC D84F
     Subkey fingerprint: BA2C 222F 44AC 00ED 9899  3893 98FE C6BC 752A 3DB6
</pre>

<p>or:</p>

<pre>
pg: Signature made Sun 08 Feb 2015 08:17:03 PM UTC
gpg:                using RSA key 3C83DCB52F699C56
gpg: Good signature from "Tails developers (offline long-term identity key) &lt;tails@boum.org&gt;" [unknown]
Primary key fingerprint: A490 D0F4 D311 A415 3E2B  B7CA DBB8 02B2 58AC D84F
     Subkey fingerprint: A509 1F72 C746 BA6B 163D  1C18 3C83 DCB5 2F69 9C56
</pre>

<p>If you see the following warning:</p>

<pre>
gpg: WARNING: This key is not certified with a trusted signature!
gpg:          There is no indication that the signature belongs to the owner.
Primary key fingerprint: A490 D0F4 D311 A415 3E2B  B7CA DBB8 02B2 58AC D84F
</pre>

<p>Then the ISO image is still correct, and valid according to the Tails signing
key that you downloaded. This warning is related to the trust that you put in
the Tails signing key. See, [[Trusting Tails signing
key|doc/get/trusting_tails_signing_key]]. To remove this warning you would have
to personally <span class="definition">[[!wikipedia Keysigning
desc="sign"]]</span> the Tails signing key with your own key.</p>

<p><strong>If the ISO image is not correct</strong> the output will tell
you that the signature is bad:</p>

<pre>
gpg: Signature made Sat 30 Apr 2015 10:53:23 AM CEST
gpg:                using RSA key DBB802B258ACD84F
gpg: BAD signature from "Tails developers (offline long-term identity key) &lt;tails@boum.org&gt;"
</pre>
